.logo-container{
    width : 200px ;
    height : 60px ;
    background : url("../Assets/logo.png") no-repeat ;
    background-size: contain  ;
    margin-left: 25px ;
}

.input-field{
    width:100%;
    border:none;
    
}

.input-field:focus{
    outline: none;
}