.team-member-wrapper{
    flex : 1;
    -webkit-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    -moz-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    border-radius: 10px ;

    display: flex;
    flex-direction : column ;
    margin-right : 30px ;
    padding : 0 10px 10px 0 ;
}

.title{
    font-size : 28px ;
    color : rgba(6, 0, 14, 0.76) ;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom : 10px ;
}

.member{
    display : flex ;
    flex-direction : row ; 
    justify-content: space-between ;
    margin: 10px ;
    padding-bottom : 5px ;
    border-bottom : 1px solid rgba(32, 30, 34, 0.16) ;
}

.info-container{
    display: flex ;
    flex-direction: column ;
    flex : 3 ;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center ;
}

.img-cont{
    flex : 1 ;
}

.avatar{
    width : 60px ;
    height: 60px ;
    border-radius: 50%;
    object-fit: cover ;
}

.button-container{
    flex : 1 ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    
}


.display-button{
    height: 40% ;
    display: flex ;
    justify-content: space-between !important;
    padding : 2px 8px ;
    align-items: center ;
    border-radius: 5px ;
    background-color: rgba(32, 30, 34, 0.06) ;
    cursor : pointer ;
    font-size: 17px;
}
