.transaction-wrapper{
    flex : 2 ;
    -webkit-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    -moz-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    border-radius: 10px;
    padding : 0 10px 10px 10px ;

    display: flex;
    flex-direction : column ;

}

.transaction{
    display : flex ;
    flex-direction: row ;
}

.transaction-table{
    width: 100%;
    border-spacing: 5px ;
}

.transaction-th{
    text-align: left ;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
}

.transaction-tr-border{
    box-shadow:  0 3px 6px -6px rgba(0,0,0,0.7); 
}

.user-td{
    display: flex;
    align-items: center ;
}

.user-img{
    width : 55px ;
    height: 55px ;
    border-radius: 50%;
    object-fit: cover ;
    margin-right: 5px ;
    margin-top : 2px ;
    margin-bottom : 2px ;
}

.statusButton{
    padding : 5px 7px ;
    border : none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    border-radius: 5px ;
    width : 70% ;
}

.statusButton.Approved{
    background-color : rgba(189, 252, 126, 0.5) ;
    color : #57AA03 ;
}

.statusButton.Declined{
    background-color : rgba(255, 146, 126, 0.5) ;
    color : #FE2A03 ; 
}

.statusButton.Pending{
    background-color: rgba(238, 253, 100, 0.5);
    color : #9b8401 ;
}