
.home-wrapper{
    flex : 4 ;
}

.home-container{
    flex : 4 ;
    display : flex ;
    justify-content: space-between ;
    flex-wrap: wrap;
    padding-top : 10px ;
}

.featuredItemwrapper{
    flex : 1 ;
    display : flex ;
    height : 15vh ;
    flex-direction : column ;
    border-radius: 10px ;
    cursor : pointer ;
    padding : 20px ;
    margin :  30px ;
    -webkit-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    -moz-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    justify-content: space-between ;
}

.featuredTitle{
    font-size : 28px ;
    color : rgba(6, 0, 14, 0.76) ;
    font-family: 'Fira Sans', sans-serif;
}

.income-wrapper{
    display: flex ;
    flex-direction: row ;
    font-family: 'Fira Sans', sans-serif;
    font-size : 19px ;
    align-items : center ;
}

.difference{
    margin : 0 10px ;
}

.income{
    font-size : 26px ;
    color : rgba(6, 0, 14, 0.76) ;
}

.bottomText{
    font-family: 'Fira Sans', sans-serif;
    font-size : 16px ;
    color :rgba(32, 30, 34, 0.76) ;
}

.home-widgets{
    display : flex ;
    margin : 20px ;
    margin-top : 50px ;
}

.pie-chart-container{
    margin-right : 20px ;
    display: flex;
    flex : 1 ;
    padding-top : 20px ;
    flex-direction: column ;
    align-items : center ;
    -webkit-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    -moz-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    border-radius: 10px ;
}

.map-container{
    margin-left : 20px ;
    padding-top : 20px ;
    flex : 2 ;
    display: flex ;
    flex-direction: column;
    align-items : center;
    -webkit-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    -moz-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    border-radius: 10px ;
}

.chartText{
    font-family: 'Fira Sans', sans-serif;
    font-size : 22px ;
    color :rgba(13, 11, 15, 0.76) ;
    margin-right: auto ;
    margin-left : 30px ;
}
