.product-container{
    flex : 4 ;
    display : flex ;
    flex-direction : column ;
}

.product-info-container{
    flex : 3 ;
    display : flex ;
    flex-direction: row;
}

.second-row-container{
    flex : 2 ;
    display : flex ;
    flex-direction : row ;
}

.calendar, .age-distribution , .branch-contribution, .top-selling-chart, .product-info, .sales-performance{
    -webkit-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    -moz-box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    box-shadow: -1px 2px 16px -6px rgba(17,1,38,0.76);
    border-radius: 10px;
    margin-right : 30px ;
    padding: 20px;
}

.calendar{
    flex : 1 ;
    margin : 30px ;
}

.age-distribution{
    flex : 1 ;
    display : flex ;
    flex-direction : column ;
    align-items: center;
    margin : 30px ;
}

.branch-contribution{
    flex : 2 ;
    margin :30px ;
    
}

.top-selling-chart{
    flex : 2 ;
    margin: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info{
    flex : 1 ;
    margin : 30px ;
    padding: 30px;
    
}

.sales-performance{
    flex : 2;
    margin : 30px ;
    padding : 30px ;
}

.body-container{
    display: flex ;
    flex-direction: column;
}

.body-item{
    display: flex;
    flex-direction: row;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    padding : 10px ;
    
}

.button-container{
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 width : 100% ;
}

.product-input{
    border : none ;
    border-bottom : 2px solid rgba(33, 1, 75, 0.76) ;
    border-bottom-style: dotted;
    margin-left : 5px ;
}
