.userList{
    flex : 4 ;
    display : flex ;
    flex-direction : column ;
}

.data-grid-container{
    width : 100% ;
    height : 90% ;
    margin : auto ;
}

.title-warpper{
    width : 95% ;
    display : flex ;
    justify-content: space-between ;
    align-items: center ;
}

.add-new-button{
    height : 40% ;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px ;
    border : none ;
    background-color : #6e64b9 ;
    color : #fdfdfd ;
    cursor: pointer ;
    border-radius: 5px;
    padding : 5px ;
}

.add-new-button:hover{
    color: #6e64b9;
    background-color: #fdfdfd;
    border : 2px solid #6e64b9 ;
}

.status{
    width : 30px ;
    height : 30px ;
    border-radius: 50%;
    display : flex ;
    align-items : center ;
    justify-content : center ;
    font-size : 12px ;
}

.status.online{
    background-color : rgba(108, 214, 108 , 0.7) ;
    color :rgba(0, 68, 0, 1) ;
    
}

.status.offline{
    background-color : rgba(240, 97, 97, 0.7) ;
    color :rgb(92, 0, 0) ;
}

.edit-button{
    width : 60px ;
    height : 30px ;
    font-size: 14px ;
    border: none ;
    margin-right : 7px ;
    cursor : pointer ;
}

.title{
    font-size : 28px ;
    color : rgba(6, 0, 14, 0.76) ;
    font-family: 'Fira Sans', sans-serif;
    margin-bottom : 10px ;
    margin : 5px ;
}